main {
  padding-top: 20px;
  display: block;
  text-align: left;
  
}

header {
  background-color: #ffcc66;
  margin-bottom: 40px;
}
h1 {
  line-height: 1;
  margin-bottom: 0;
  font-size: 30px;
}

h2 {
  line-height: 1;
  margin-bottom: 0;
  font-size: 15px;
  padding-bottom: 25px;
  }
  .h2 {
  line-height: 1;
  margin-bottom: 0;
  font-size: 15px;
  padding-bottom: 25px;
  
  }

.card {
	color: #CCCCCC;
	padding-right: 10px;
}

img {
	height: 200px;
	width: 200px;
}